body{
    background-color: black;
}
h1{
    color: orangered
}
#titulo {
    margin: center;
    text-align: center;
}
#subtitulo {
    margin: center;
    text-align: center;
    color:white;
    font-size: 30px;
}
#tabela-filmes{
    color: white;
}
#tabela-filmes tr,
#tabela-filmes td{
    padding :10px;
}
#cdb,#b7,#chicó,#dadinho,#mala{
    width: 247px;
    height: 344px;
    display: block;
}
img{
    width: 247px;
    height: 344px;
    display: block;

}