body{
    background-color: black;
}
h1{
    color: orangered
}
#titulo {
    margin: center;
    text-align: center;
}
#subtitulo {
    margin: center;
    text-align: center;
    color:white;
    font-size: 30px;
}
#tabela-filmes{
    color: white;
}
#tabela-filmes tr,
#tabela-filmes td{
    padding :10px;
    max-width: 300px;
}
#cdb,#b7,#chicó,#dadinho,#mala{
    width: 247px;
    height: 344px;
    display: block;
}
img{
    width: 247px;
    height: 344px;
    display: block;
    padding: 10px;
}
img:hover{
transition: 1s;
transform: scale(1.1);
}
#col2,#col3,#col4,#col5 {
    text-align: center;
    
}